# Virtual Environment
venv/

# Media and Output files
media/
output/
classification_results/
input.mp4

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# IDE - PyCharm
.idea/
*.iml
*.iws
.idea_modules/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Logs
*.log